name: Keep Streamlit Alive

on:
  schedule:
    - cron: "0 */6 * * *" 
  workflow_dispatch: 

jobs:
  ping_site:
    runs-on: ubuntu-latest
    steps:
      - name: Check website status
        run: |
          curl -s https://end-to-end-market-sentiment-and-trend-analyzer-gfmrfwfwtbp4car.streamlit.app/ > /dev/null
